<h3 class="page-header">Autômato finito</h3>
{% if automaton.states is not empty %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">&</th>
                {% for simbol in automaton.alphabet %}
                <th class="text-center">{{ simbol }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for state in automaton.states %}
                <tr class="{{ state.getIndex() == automaton.lastState ? 'info': null }}">
                    <td class="text-center">
                        {{ state.getIndex() == 0 ? '->' : '' }}
                        {{ state.isFinish() ? '*' : '' }}q
                        <sub>{{ state.getIndex() }}</sub>
                    </td>
                    {% for simbol in automaton.alphabet %}
                        <td class="{{ state.getIndex() == automaton.lastState and automaton.actualSimbol == simbol ? 'bg-success' : null }}">
                            {% if state[simbol] %}
                                q
                                <sub>{{ state[simbol] }}</sub>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="help-block">Não há palavras no dicionário! Insira uma palavra para continuar.</p>
{% endif %}