<h3>Dicionário</h3>
<div class="col-md-12">
    <ul class="list-group">
        {% for word in dictionary.toArray() %}
            <li class="list-group-item">
                {{ word }}
                <span class="pull-right btn btn-xs btn-danger remove-word" title="Remover '{{ word }}'"
                    data-remove="{{ word }}" onclick="removeWord(this)"> X
                </span>
            </li>
        {% else %}
            <li class="help-block">
                Ops, parece que não há palavras no dicionário.
            </li>
        {% endfor %}
    </ul>
</div>