<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Tiago Paza">
    <title>[CC2015] Analisador Léxico</title>

    <link href="{{ base_url }}/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ base_url }}/css/animate.css" rel="stylesheet">
    <link href="{{ base_url }}/css/style.css" rel="stylesheet">
    <link href="{{ base_url }}/css/colors/gray.css" id="theme" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
    <body>
        <div id="wrapper">
            <div class="row">
                <header class="header text-center"> 
                    <h2>Analisador léxico</h2>
                    <span class="text-muted">Tiago Paza - URI Erechim</span>
                </header>
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="panel col-sm-8 col-md-8">
                        <div class="input">
                            <div class="in-treatment">
                                <h3>...</h3>
                            </div>
                            <div class="input-words">
                                <form name="leitor" method="PUT" action="{{ path_for('begin') }}">
                                    <div class="form-group has-feedback">
                                        <div class="col-md-10">
                                            <input type="text" name="in" class="form-control">
                                            <div id="information"></div>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-success" id="add-word-btn" disabled> + Palavra </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="dictionary col-sm-4 col-md-4">{% include 'dictionary.twig' %}</div>
                    <div class="automaton col-sm-12 col-md-12">{% include 'automaton.twig' %}</div>
                </div>
            </div>
        </div>
        <footer>
            <script src="{{ base_url }}/js/jquery.js"></script>
            <script src="{{ base_url }}/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="{{ base_url }}/js/assync.js"></script>
            <script src="{{ base_url }}/js/main.js"></script>
        </footer>
    </body>
</html>